$fontColor: #c8dbf4;
$whiteColor: rgba(255,255,255, .8);

.full-container{
  width: 100%;
  height: 100%;
}
.container{
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: url("../assets/img/background.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  .header{
    position: relative;
    width: 100%;
    height: 110px;
    line-height: 77px;
    background: url(../assets/img/tittle.png?0413) no-repeat;
    background-position: center 0;
    pointer-events: none;
    .title{
      margin: 0 auto;
      width: 100%;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      background-size: contain;
      background-image: -webkit-linear-gradient(bottom, rgb(185, 207, 255), rgb(255, 255, 255));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .next-btn{
      display: flex;
      align-items: center;
      position: absolute;
      right: 30px;
      top: 16%;
      width: fit-content;
      padding: 6px 10px;
      font-size: 20px;
      background: #0090ff;
      border-radius: 6px;
      color: #fff;
      cursor: pointer;
      img{
        margin-left: 10px;
        height: 20px;

      }
    }
  }
}
